<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.landlord.mapper.RhHouseMapper">
    
    <resultMap type="RhHouse" id="RhHouseResult">
        <result property="id"    column="id"    />
        <result property="houseName"    column="house_name"    />
        <result property="houseArea"    column="house_area"    />
        <result property="houseLocation"    column="house_location"    />
        <result property="housePosition"    column="house_position"    />
        <result property="houseLeaseFlag"    column="house_lease_flag"    />
        <result property="houseRent"    column="house_rent"    />
        <result property="houseFloor"    column="house_floor"    />
        <result property="houseMeter"    column="house_meter"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectRhHouseVo">
        select id, house_name, house_area, house_location, house_position, house_lease_flag, house_rent, house_floor, house_meter, create_by, create_time, update_by, update_time, remark from rh_house
    </sql>

    <select id="selectRhHouseList" parameterType="RhHouse" resultMap="RhHouseResult">
        <include refid="selectRhHouseVo"/>
        <where>  
            <if test="houseName != null  and houseName != ''"> and house_name like concat('%', #{houseName}, '%')</if>
            <if test="houseArea != null "> and house_area = #{houseArea}</if>
            <if test="houseLocation != null "> and house_location = #{houseLocation}</if>
            <if test="housePosition != null  and housePosition != ''"> and house_position = #{housePosition}</if>
            <if test="houseLeaseFlag != null and houseLeaseFlag != ''"> and house_lease_flag = #{houseLeaseFlag}</if>
            <if test="houseRent != null "> and house_rent = #{houseRent}</if>
            <if test="houseFloor != null "> and house_floor = #{houseFloor}</if>
            <if test="houseMeter != null "> and house_meter = #{houseMeter}</if>
        </where>
    </select>
    
    <select id="selectRhHouseById" parameterType="Long" resultMap="RhHouseResult">
        <include refid="selectRhHouseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRhHouse" parameterType="RhHouse">
        insert into rh_house
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="houseName != null">house_name,</if>
            <if test="houseArea != null">house_area,</if>
            <if test="houseLocation != null">house_location,</if>
            <if test="housePosition != null">house_position,</if>
            <if test="houseLeaseFlag != null">house_lease_flag,</if>
            <if test="houseRent != null">house_rent,</if>
            <if test="houseFloor != null">house_floor,</if>
            <if test="houseMeter != null">house_meter,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="houseName != null">#{houseName},</if>
            <if test="houseArea != null">#{houseArea},</if>
            <if test="houseLocation != null">#{houseLocation},</if>
            <if test="housePosition != null">#{housePosition},</if>
            <if test="houseLeaseFlag != null">#{houseLeaseFlag},</if>
            <if test="houseRent != null">#{houseRent},</if>
            <if test="houseFloor != null">#{houseFloor},</if>
            <if test="houseMeter != null">#{houseMeter},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateRhHouse" parameterType="RhHouse">
        update rh_house
        <trim prefix="SET" suffixOverrides=",">
            <if test="houseName != null">house_name = #{houseName},</if>
            <if test="houseArea != null">house_area = #{houseArea},</if>
            <if test="houseLocation != null">house_location = #{houseLocation},</if>
            <if test="housePosition != null">house_position = #{housePosition},</if>
            <if test="houseLeaseFlag != null">house_lease_flag = #{houseLeaseFlag},</if>
            <if test="houseRent != null">house_rent = #{houseRent},</if>
            <if test="houseFloor != null">house_floor = #{houseFloor},</if>
            <if test="houseMeter != null">house_meter = #{houseMeter},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRhHouseById" parameterType="Long">
        delete from rh_house where id = #{id}
    </delete>

    <delete id="deleteRhHouseByIds" parameterType="String">
        delete from rh_house where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>